<div style="margin: 20px 15px;">
<h1 style="margin: 30px 0">Editing Rating</h1>

<%= render 'form', rating: @rating %>
<hr>
<div >
	<%= link_to 'Back', @rating, class: "btn btn-default" %> 
</div>
</div>