// Place all the styles related to the Nutrients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-calendar{
	width: 90%;
	margin: 30px auto;
}
.calendar-heading{
	text-align: center;
}

/*.simple-calendar .table > tbody > tr > td < div{
	padding: 0;
}*/
.rating{
	width: -moz-calc(100% + 8px);
	width: -webkit-calc(100% + 8px);
	width: -o-calc(100% + 8px);
	width: calc(100% + 8px);

	box-shadow: 0 10px 15px -5px  #26A65B;

	position: relative;
	top: -4px;
	left: -4px;
	height: 50px;
	background-color: #26A65B;
	border-radius: 3px;
	padding: 4px;

	color: white;
	font-weight: bold;

}
.five{
	opacity: 1;
}
.four{
	opacity: .8;
}
.three{
	opacity: .6;
}
.two{
	opacity: .4;
}
.one{
	opacity: .2;
}
span.badge{
	background-color: #26A65B;
}